<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anggasaraya.githubuserfinal">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.anggasaraya.githubuserfinal.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.anggasaraya.githubuserfinal.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="com.anggasaraya.githubuserfinal.provider.UserFavProvider"
            android:authorities="com.anggasaraya.githubuserfinal"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.anggasaraya.githubuserfinal.READ_DATABASE"
            android:writePermission="com.anggasaraya.githubuserfinal.WRITE_DATABASE" />

        <activity android:name=".SettingActivity" />
        <activity android:name=".FavActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>